* { box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.container .leftSide {
  flex: 1;
  margin-right: 40px;
}

.container .leftSide h1{
  margin: 0;
  font-size: 40px;
  color: #3A4B5c;
}

.container .leftSide p{
  font-size: 16px;
  margin-bottom: 40px;
  color: #6A7D8B;
}

.container .leftSide input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(150,163,171, .5);
  padding: 10px 2px;
  margin-botton: 20px;
  font-size: 14px;
  outline: 0;
}

.container .leftSide button{
  background-color: #227C9D;
  background-size:cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 15px;
  border: 0;
  box-shadow: 0 0 0 0 rgba(34, 124, 157, 0.4);
  border-radius: 10px;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  margin-top: 45px;
  transition: all ease .4s;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.container .leftSide button:hover {
  opacity: 0.4;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(34, 124, 157, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(34, 124, 157, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(34, 124, 157, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 40px rgba(34, 124, 157, 0);}}

.container .rightSide {
  flex: 1;
  margin-left: 40px;
  display: flex;
}

.container .rightSide .grid {
  display: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}